h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    margin: 10px 0 10px 0;
}

h2 {
    background-color: #FFCB05;
    text-align: left;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    line-height: 1.5;
    padding: 8px;
    margin: 10px 0 10px 0;
}

h3 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #9A3324;
    line-height: 1.5;
    margin: 10px 0 10px 0;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 1em;
    line-height: 1.5;
    margin: 10px 0 10px 0;
}

a {
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ol {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 1em;
    line-height: 2;
    margin: 10px;
    display: block;
    list-style-type: decimal;
    padding: 20px;
}

.navbar {
    background-color: #FFCB05;
    color: #0c0c0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-list {
    display: flex;
    margin: 0;
    padding: 20px;
}

.nav-item a {
    text-decoration: none;
    padding: 16px;
    border-radius: 8px;
}
a:focus {
    outline: none; 
    border: 2px solid #00274C;
    border-radius: 4px;
}

.logo img{
    margin-right: auto;
    width: 50px;
    height: auto;
}

.active a{
    background-color: #00274C;
    color: #eeeeee;
}

.active a:hover {
    background-color: white;
    color: black;
}

.heroimage {
    background-color: #ffffff;
    position: center;
    padding: 80px 20px;
}

body {
    background-color: #eeeeee;
    color: black;
    margin: 0px;
}

main {
    margin: 24px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #ffffff;
    border: #00274C solid 2px;
    padding: 4px;
    gap: 4px
}

.item1 {
    background-color: #ffffff;
    grid-column: 1/ span 2;
    padding: 16px;
    border: #00274C solid 2px;
    text-align: center;
}

.item2, .item3, .item4, .item5 {
    background-color: #ffffff;
    border: #00274C solid 2px;
    padding: 16px;
    text-align: center;
}

article {
    background-color: #ffffff;
    padding: 16px;
    margin-top: 10px;
    border-radius: 16px;
}

img {
    display: grid;
    margin: auto auto;
}

figcaption {
    color: black;
    font-style: italic;
    font-size: 18px;
    padding: 4px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: auto auto;
    background-color: aqua;
}

.gallery1, .gallery2, .gallery3, .gallery4 {
    text-align: center;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skip {
    position: absolute;
    top: -100px;
    left: 0;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    z-index: 100;
}

.skip:focus {
    top: 0;
}

footer {
    background-color: #FFCB05;
    color: #000000;
}
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin: 0 auto;
}
.footer-section {
    flex: 1;
    min-width: 200px;
}
.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #00274C;
}
.footer-section p, .footer-section li {
    font-size: 16px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-bottom {
    text-align: center;
    padding: 20px;
    background-color: #001F3F;
    font-size: 14px;
}
.footer-bottom p {
    color: #eeeeee;
    font-size: 14px;
}

.error-image {
    display: block;
    padding: 20px;
    width: 800px;
    justify-content: center;
}

.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.error-home-button {
    background-color: #00274C;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 16px;
    margin: 40px;
    cursor: pointer;
}
.error-home-button:hover {
    background-color: white;
    color: black;
    border: #00274C solid 2px;
}
.error-message {
    text-align: center;
}


@media screen and (min-width: 776px){
    main {
        margin: 40px 100px;
    }
    img{
        max-height: 750px;
    }
    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0 100px;
    }
    .footer-section {
        padding: 20px;
    }
    .footer-bottom p {
        color: #eeeeee;
        font-size: 14px;
    }
}